// generates utility variables
// @param {List/String} $name - name of the utility
// @param {List/String} $properties - list of properties
// @param {Map} $map - map of values
@mixin generate($name, $properties, $map) {
  $name: if(type-of($name) == "list", $name, ($name));
  $properties: if(type-of($properties) == "list", $properties, ($properties));

  @each $i, $value in $map {
    $value: if(type-of($value) == "list", $value, ($value));

    @if length($properties) != length($value) {
      @error "The number of properties must be the same as the number of values.";
    }

    @each $property in $properties {
      --#{$name}-#{$property}-#{$i}: #{nth($value, index($properties, $property))};
    }
  }
}